
body{
	font-size: 10px;
}

#top-menu
{
	height:50px;
	width:100%;
	background-color:#009900;
	color:white;
}

#top-buttons
{
	position:absolute;
	top:18px;
	left:2%;
	width:500px;
}

#main-buttons
{
	position:absolute;
	top:0px;
	left:50%;
}

#funds
{
	position:absolute;
	right:1%;
	font-size:40px;
}


/* error message */
.error {
  /* supply height to ensure consistent positioning for every browser */
  height:15px;
  background-color:#FFFE36;
  border:1px solid #E1E16D;
  font-size:11px;
  color:#000;
  padding:3px 10px;
  margin-left:-2px;
 

  /* CSS3 spicing for mozilla and webkit */
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:0;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-top-left-radius:0;
 
  -moz-box-shadow:0 0 6px #ddd;
  -webkit-box-shadow:0 0 6px #ddd;
}